@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #fffdf4; /* light */
  color: #12352f; /* dark */
  font-family: 'Inter', sans-serif;
}

.sidebar-collapsed {
  width: 4rem;
}

.sidebar-expanded {
  width: 14rem;
}

.transition-all {
  transition: all 0.3s ease;
}
